button {
    padding: 10px 20px;
    background-color: #ff0088;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 6px rgb(168, 97, 116, 0.8);
}

body{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvOtNJ_5MTAYQdV34SJjo2NwajQUCC-AR0-NLGS8JlAHnkv6NzYG-V_aXDvXXDxK0mUzw&usqp=CAU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


body {

  font-family: Verdana !important;
}